@page "/Tools/BedScrewsAdjuster"
@using Klapper.Classes
@using Klapper.Data
@using System.Text.Json
@inject MoonrakerApiService Api
@inject NotificationService Toast;
@inject BedScrewsAdjusterService StatusService

<div class="row text-center">
    <h2>Bed Screws Adjustment Tool</h2>
</div>

<div>
    <div class="col-12 col-lg-10 col-xl-8 mx-auto text-center">
        <div class="my-4">
            <div class="list-group mb-5 shadow">
                <div class="list-group-item">
                    <div class="row align-items-center pb-2">
                        <div class="btn-group text-center" disabled="@printerIsOperating" role="group">
                            @if (!StatusService.PrinterIsAdjustingScrews)
                            {
                                <button type="button" class="btn btn-success" disabled="@printerIsOperating" @onclick="StartScrewAdjustment">Start Bed Screw Adjustment</button>
                            }
                            else
                            {
                                <button type="button" class="btn btn-secondary" disabled="@printerIsOperating" @onclick="AdjustScrew">Adjust</button>
                                <button type="button" class="btn btn-danger" disabled="@printerIsOperating" @onclick="StopScrewAdjustment">Stop Adjusting</button>
                            }
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col">
                            <strong class="mb-2">Home Axis Before / After the adjustment</strong>
                        </div>
                        <div class="col-auto">
                            <div class="custom-control custom-switch">
                                <RadzenCheckBox @bind-Value="home"></RadzenCheckBox>
                                <span class="custom-control-label"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col">
                            <strong class="mb-2">Mirror X Axis</strong>
                        </div>
                        <div class="col-auto">
                            <div class="custom-control custom-switch">
                                <RadzenCheckBox @bind-Value="mirrorX"></RadzenCheckBox>
                                <span class="custom-control-label"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col">
                            <strong class="mb-2">Mirror Y Axis</strong>
                        </div>
                        <div class="col-auto">
                            <div class="custom-control custom-switch">
                                <RadzenCheckBox @bind-Value="mirrorY"></RadzenCheckBox>
                                <span class="custom-control-label"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    @if (BedScrews != null)
    {
        var groupedScrews = BedScrews
            .GroupBy(u => u.Y)
            .Select(grp => grp.ToList())
            .ToList();

        if (mirrorY) groupedScrews.Reverse();
        foreach (var screws in groupedScrews)
        {
            if (mirrorX) screws.Reverse();
            <div class="row pb-4">
                @foreach (var screw in screws)
                {
                    <div class="col-md-6 text-center">
                        <div>
                            <span class="oi oi-cog" style="font-size: @(90 * screw.SizeMultiplier)px; color: @screw.Color" aria-hidden="true"></span>
                            <div>X: <strong>@screw.X</strong> Y: <strong>@screw.Y</strong></div>
                        </div>
                    </div>
                }
            </div>
        }
    }
</div>

@code {
    private List<Screw> BedScrews { get; set; }
    private bool home = true;
    private bool mirrorX;
    private bool mirrorY;
    bool printerIsOperating;

    protected override async Task OnInitializedAsync()
    {
        BedScrews = GetScrews(JsonOperations.GetJsonElement(await Api.GetObject<JsonElement>("configfile", false), "result.status.configfile.settings.bed_screws"));

        if (BedScrews == null || BedScrews.Count == 0)
            ToastNotification.Notificate(Toast, false, badMessage: "bed_screws section is missing in printer config! Visual Helper will not be enabled.");

        if (StatusService.PrinterIsAdjustingScrews) AdjustScrewColor(true);

        await base.OnInitializedAsync();
    }

    private static List<Screw> GetScrews(JsonElement bed_screws)
    {
        var array = bed_screws.ToString().Split(", ");

        var screws = new List<Screw>();

        for (var i = 0; i < array.Length; i++)
        {
            var propertyArray = array[i].Split(':');
            if (propertyArray.Length < 2 ||
                propertyArray[0].Contains("name", StringComparison.InvariantCultureIgnoreCase) ||
                !propertyArray[0].Contains("screw", StringComparison.InvariantCultureIgnoreCase)) continue;
            screws.Add(new Screw($"{array[i]}, {array[i + 1]}"));
        }
        return screws.OrderBy(x => x.Name).ToList();
    }
    private async Task StartScrewAdjustment()
    {
        printerIsOperating = true;
        if (home) await Api.RunGCode("G28");
        var launch = await Api.RunGCode("BED_SCREWS_ADJUST");
        if (!launch.Item1)
        {
            ToastNotification.Notificate(Toast, false, badMessage: launch.Item2);
            return;
        }
        StatusService.PrinterIsAdjustingScrews = true;
        printerIsOperating = false;
        AdjustScrewColor(true);
        await InvokeAsync(StateHasChanged);
    }

    private async Task StopScrewAdjustment()
    {
        printerIsOperating = true;
        await Api.RunGCode("ABORT");
        if (home) await Api.RunGCode("G28");
        AdjustScrewColor(false);
        StatusService.PrinterScrewAdjustIndex = 0;
        StatusService.PrinterIsAdjustingScrews = printerIsOperating = false;
    }

    private async Task AdjustScrew()
    {
        printerIsOperating = true;
        await Api.RunGCode("ADJUSTED");
        AdjustScrewColor(false);
        StatusService.PrinterScrewAdjustIndex++;
        if (StatusService.PrinterScrewAdjustIndex >= BedScrews.Count) StatusService.PrinterScrewAdjustIndex = 0;
        AdjustScrewColor(true);
        printerIsOperating = false;
        await InvokeAsync(StateHasChanged);
    }

    private void AdjustScrewColor(bool glowUp)
    {
        string color;
        float multiplier = 1;
        if (glowUp)
        {
            color = "#FF5733";
            multiplier = 1.5f;
        }
        else color = "#555555";

        BedScrews[StatusService.PrinterScrewAdjustIndex].Color = color;
        BedScrews[StatusService.PrinterScrewAdjustIndex].SizeMultiplier = multiplier;
    }
    }